body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

.layout {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom left, #ebe015, #c78411);
}

.main-info {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-logo {
    width: 35%;
}

.cat-header {
    color: white;
    font-size: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-navigation-list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 0;
    list-style: none;
}

.cat-navigation-item {
    color: white !important;
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    opacity: 0.6;
}

.cat-navigation-item:hover {
    opacity: 1;
}

.cat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px;
}

.cat-logo-header {
    height: 75px;
    display: inline-block;
}

.cat-navigation-header {
    width: 40%;
}

.cat-navigation-header-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 5px 0;
}

.cat-navigation-header-item {
    font-size: 24px;
}

.cat-navigation-header-link {
    color: white !important;
    opacity: 0.6;
    text-decoration: none;
}

.cat-navigation-header-link:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.cat-articles {
    width: 70%;
}

.cat-article {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    color: #454545;
}

.cat-article-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 0px;
}

.cat-popular-articles {
    width: 26%;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    color: #454545;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cat-popular-articles-header {
    font-size: 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.cat-popular-items {
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}

.cat-popular-items > li {
    padding: 12px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 50px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
}

.social-icon {
    width: 30px;
    opacity: 0.6;
    cursor: pointer;
}

.social-icon:hover {
    opacity: 1;
}